{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">

		<h1 class="text-decoration-underline my-5">Mon Panier</h1>

		<div class="row">
			<div
				class="col-md-8">

				{# {{dump(cart)}} #}

				<div class="row row-gap-3">
					{% for product in cart %}

						{# {{dump(product)}} #}

						<div class="col-md-2">
							<a href="{{ path('app_product', {'slug': product.object.slug}) }}"><img src="/uploads/illustrations/{{product.object.illustration}}" alt="{{product.object.name}}" class="img-fluid shadow-sm rounded"></a>
						</div>
						<div class="col-md-5">
							<p class=" fw-bold m-0">{{product.object.name}}</p>
							<p class="small">Prix unitaire HT :
								{{product.object.price|price}}</p>
						</div>
						<div class="col-md-2 text-right small pt-2 d-flex align-items-center justify-content-between gap-1">
							<a href="{{ path('app_cart_decrease', { id : product.object.id}) }}" class="badge text-bg-danger pb-1">-</a>
							<span class="badge text-bg-secondary">x{{product.qty}}</span>
							<a href="{{ path('app_cart_add', { id : product.object.id}) }}" class="badge text-bg-success pb-1">+</a>
						</div>
						<div class="col-md-2 small pt-2 fw-semibold d-flex align-items-center justify-content-end">
							<p class="m-0">{{(product.qty * product.object.price)|price}}</p>
						</div>
					{% endfor %}
				</div>
				{% if fullCartQuantity >= 1 %}
					<a href="{{ path('app_cart_remove') }}" class="btn btn-danger mt-5">
						Vider le panier
					</a>
				{% endif %}

			</div>

			<div class="col-md-4">
				<div class="bg-light p-3 rounded">

					<p>Votre panier contient :
						<span class="badge text-bg-secondary">{{ fullCartQuantity }}</span>
						article
						{% if fullCartQuantity >1 %}s
						{% endif %}.</p>
					<p class="w-100 d-flex justify-content-between">
						<span class="fw-semibold">Montant Total HT :</span>
						{{ getTotal|price }}</p>
					<p class="w-100 d-flex justify-content-between">
						<span class="fw-semibold">Montant Total TTC :</span>
						{{ getTotalWt|price }}</p>
					<a href="{{ path('app_order')}}" class="btn btn-dark w-100 mt-3">Je valide ma commande.</a>
				</div>

			</div>
		</div>
	</div>


{% endblock %}
