<div class="col-md-3">
	<a href="{{ path('app_product', { slug : product.slug}) }}" class="text-black">
		<img src="/uploads/illustrations/{{ product.illustration }}" alt="" class="img-fluid rounded shadow-sm">
		<div class="text-center fw-bold text-capitalize">{{ product.name }}</div>
	</a>
		{# <div class="text-center">{{ product.pricewt|number_format(2, ',')  }} €</div> #}
        {#  number format répétitf et besoi à différentds endroits, créons notre filtre perso #}
		<div class="text-center">{{ product.pricewt|price }}</div>
		{# {{ dump(product) }} #}
</div>
