{% extends 'base.html.twig' %}

{% block body %}


	{% if error %}
		<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	<div class="container">
		<h1 class="text-center text-decoration-underline my-5">Connexion</h1>


		<div class="container containerForm">
			<form action="{{ path('app_login') }}" method="post" class="form">
				<label for="username">Votre email:</label>
				<input class="form-control mb-3" type="text" id="username" name="_username" value="{{ last_username }}">
				<label for="password">Votre mot de passe:</label>
				<input
				class="form-control mb-3" type="password" id="password" name="_password">
				{# If you want to control the URL the user is redirected to on success
				                        <input type="hidden" name="_target_path" value="/account"> #}
				<input type="hidden" name="_target_path" value="{{ path('app_account')}}">
				<button type="submit" class="btn btn-dark w-100 my-3">Je me connecte</button>
			</form>
			<a href="{{path('app_register')}}">
				<button class="btn btn-secondary w-100">Je n'ai pas de compte, je m'inscris ici !</button>
			</a>
		</div>

	</div>
{% endblock %}
